ion-header{
  background-color: #fff;

  &:after{
    display: none;
  }

  &.after{

    &:after{
      display: block;
    }
  }
  .account-header{
    display: flex;
    padding: 30px 20px 15px 20px;
    border-bottom: 1px solid #E2E2E2;

    .left{

    }

    .right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;

      .name{
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 20px;
        line-height: 18px;
        color: #181725;
        margin-bottom: 6px;

        img{
          margin-left: 10px;
        }
      }
      .email{
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #7C7C7C;
      }
    }
  }
}

ion-content{
  --overflow: hidden;

  .account-list{
    display: flex;
    flex-direction: column;

    .item{
      border-bottom: 1px solid #E2E2E2;
      padding: 15px 20px;
      display: flex;

      .left{
        width: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .right{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;

        .name{
          font-family: 'Gilroy', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #181725;
        }
        button{
          background-color: transparent;
          padding-right: 0;

          img{
           transform: rotate(180deg);
            width: 8px;
            height: 14px;
          }
        }
      }
    }
  }
  .logout{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 20px;

    .button{
      background: #F2F3F2;
      border-radius: 19px;
      width: 90%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      span{
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #53B175;
      }
      img{
        position: absolute;
        left: 25px;
      }
    }
  }
}
