<ion-header>
  <div class="checkout-bottom-header">
    <div class="left">
      <span>Checkout</span>
    </div>
    <div class="right">
      <button type="button" (click)="close()">
        <img src="assets/icons/close.svg" alt="">
      </button>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="checkout-bottom-body">
    <div class="list">
      <div class="item">
        <div class="left">
          <span>Delivery</span>
        </div>
        <div class="right">
          <span>Select Method</span>
          <button class="button">
            <img src="assets/icons/back_arrow.svg" alt="">
          </button>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <span>Pament</span>
        </div>
        <div class="right">
          <img src="assets/icons/card.svg" alt="">
          <button class="button">
            <img src="assets/icons/back_arrow.svg" alt="">
          </button>
        </div>
      </div>
      <div class="item">
        <div class="left">
          <span>Total Cost</span>
        </div>
        <div class="right">
          <span>$13.97</span>
          <button class="button">
            <img src="assets/icons/back_arrow.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="policy">
      <span>By placing an order you agree to our <br> <b>Terms</b> And <b>Conditions</b></span>
    </div>
    <div class="checkout-button">
      <button type="button">
        Place Order
      </button>
    </div>
  </div>
</ion-content>
