<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="header__top">
        <img src="assets/icons/mini-logo-icon.svg" alt="">
      </div>
      <div class="header__bottom">
        <div class="search">
          <span>Search Store</span>
        </div>
        <div class="search-icon">
          <img src="assets/icons/search-icon.svg" alt="">
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="sliderOpts">
    <ion-slide *ngFor="let slide of sliders">
      <img [src]="slide.img" alt="">
    </ion-slide>
  </ion-slides>

  <div class="exclusive-content">
    <div class="exclusive-content__top">
      <span class="left">Exclusive Offer</span>
      <span class="right">See all</span>
    </div>
    <div class="exclusive-content__bottom">
      <ion-slides pager="false" [options]="sliderProductOpts">
        <ion-slide *ngFor="let product of products">
          <div class="product">
            <div class="product__image">
              <img [src]="product.image" alt="">
            </div>
            <div class="product__name">
              <span class="name">{{product.name}}</span>
              <span class="sub-name">1kg, Priceg</span>
            </div>
            <div class="product__bottom">
              <div class="price">
                <span>${{product.price}}</span>
              </div>
              <div class="product-add">
                <button>
                  <img src="assets/icons/prodict-add-btn.svg" alt="">
                </button>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div class="exclusive-content">
    <div class="exclusive-content__top">
      <span class="left">Best Selling</span>
      <span class="right">See all</span>
    </div>
    <div class="exclusive-content__bottom">
      <ion-slides pager="false" [options]="sliderProductOpts">
        <ion-slide *ngFor="let product of products">
          <div class="product">
            <div class="product__image">
              <img [src]="product.image" alt="">
            </div>
            <div class="product__name">
              <span class="name">{{product.name}}</span>
              <span class="sub-name">1kg, Priceg</span>
            </div>
            <div class="product__bottom">
              <div class="price">
                <span>${{product.price}}</span>
              </div>
              <div class="product-add">
                <button>
                  <img src="assets/icons/prodict-add-btn.svg" alt="">
                </button>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div class="exclusive-content">
    <div class="exclusive-content__top">
      <span class="left">Category</span>
      <span class="right">See all</span>
    </div>
    <div class="exclusive-content__bottom">
      <ion-slides pager="false" [options]="sliderProductOpts">
        <ion-slide *ngFor="let product of products">

        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>
